# ---------------------------------
# APP CONFIGURATION
# ---------------------------------
APP_NAME="#####"
APP_ENV=development        # development | production
APP_DEBUG=true
APP_URL=http://#####

# ---------------------------------
# DATABASE CONFIGURATION
# ---------------------------------
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=my_database
DB_USERNAME=####
DB_PASSWORD=####

# ---------------------------------
# MAIL CONFIGURATION
# ---------------------------------
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="MyPHPApp"

# ---------------------------------
# OTHER CONFIGURATION
# ---------------------------------
JWT_SECRET=your_random_secret_key_here
API_KEY=your_api_key_here
